<div>
  <h2 id="page-heading" data-cy="DayTirageHeading">
    <span jhiTranslate="lottoApiApp.dayTirage.home.title">Day Tirages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lottoApiApp.dayTirage.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-day-tirage-chad"
        [routerLink]="['/day-tirage-chad/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lottoApiApp.dayTirage.home.createLabel"> Create a new Day Tirage </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dayTirages?.length === 0">
    <span jhiTranslate="lottoApiApp.dayTirage.home.notFound">No Day Tirages found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dayTirages && dayTirages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tirageType">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.tirageType">Tirage Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateInString">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.dateInString">Date In String</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="premierLot">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.premierLot">Premier Lot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deuxiemeLot">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.deuxiemeLot">Deuxieme Lot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="troisiemeLot">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.troisiemeLot">Troisieme Lot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pic3">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.pic3">Pic 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="win4">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.win4">Win 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateTransaction">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.dateTransaction">Date Transaction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="state.id">
            <div class="d-flex">
              <span jhiTranslate="lottoApiApp.dayTirage.state">State</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dayTirage of dayTirages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/day-tirage-chad', dayTirage.id, 'view']">{{ dayTirage.id }}</a>
          </td>
          <td jhiTranslate="{{ 'lottoApiApp.TirageType.' + dayTirage.tirageType }}">{{ dayTirage.tirageType }}</td>
          <td>{{ dayTirage.dateInString }}</td>
          <td>{{ dayTirage.premierLot }}</td>
          <td>{{ dayTirage.deuxiemeLot }}</td>
          <td>{{ dayTirage.troisiemeLot }}</td>
          <td>{{ dayTirage.pic3 }}</td>
          <td>{{ dayTirage.win4 }}</td>
          <td>{{ dayTirage.dateTransaction | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="dayTirage.state">
              <a [routerLink]="['/state-chad', dayTirage.state.id, 'view']">{{ dayTirage.state.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/day-tirage-chad', dayTirage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/day-tirage-chad', dayTirage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dayTirage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dayTirages && dayTirages.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
