<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dayTirage">
      <h2 data-cy="dayTirageDetailsHeading"><span jhiTranslate="lottoApiApp.dayTirage.detail.title">Day Tirage</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dayTirage.id }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.tirageType">Tirage Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'lottoApiApp.TirageType.' + dayTirage.tirageType }}">{{ dayTirage.tirageType }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.dateInString">Date In String</span></dt>
        <dd>
          <span>{{ dayTirage.dateInString }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.premierLot">Premier Lot</span></dt>
        <dd>
          <span>{{ dayTirage.premierLot }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.deuxiemeLot">Deuxieme Lot</span></dt>
        <dd>
          <span>{{ dayTirage.deuxiemeLot }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.troisiemeLot">Troisieme Lot</span></dt>
        <dd>
          <span>{{ dayTirage.troisiemeLot }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.pic3">Pic 3</span></dt>
        <dd>
          <span>{{ dayTirage.pic3 }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.win4">Win 4</span></dt>
        <dd>
          <span>{{ dayTirage.win4 }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.dateTransaction">Date Transaction</span></dt>
        <dd>
          <span>{{ dayTirage.dateTransaction | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="lottoApiApp.dayTirage.state">State</span></dt>
        <dd>
          <div *ngIf="dayTirage.state">
            <a [routerLink]="['/state-chad', dayTirage.state.id, 'view']">{{ dayTirage.state.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/day-tirage-chad', dayTirage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
