<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-day-tirage-chad-heading"
        data-cy="DayTirageCreateUpdateHeading"
        jhiTranslate="lottoApiApp.dayTirage.home.createOrEditLabel"
      >
        Create or edit a Day Tirage
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.tirageType" for="field_tirageType">Tirage Type</label>
          <select class="form-control" name="tirageType" formControlName="tirageType" id="field_tirageType" data-cy="tirageType">
            <option [ngValue]="null">{{ 'lottoApiApp.TirageType.null' | translate }}</option>
            <option *ngFor="let tirageType of tirageTypeValues" [value]="tirageType">
              {{ 'lottoApiApp.TirageType.' + tirageType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('tirageType')!.invalid && (editForm.get('tirageType')!.dirty || editForm.get('tirageType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tirageType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.dateInString" for="field_dateInString">Date In String</label>
          <input
            type="text"
            class="form-control"
            name="dateInString"
            id="field_dateInString"
            data-cy="dateInString"
            formControlName="dateInString"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.premierLot" for="field_premierLot">Premier Lot</label>
          <input
            type="text"
            class="form-control"
            name="premierLot"
            id="field_premierLot"
            data-cy="premierLot"
            formControlName="premierLot"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.deuxiemeLot" for="field_deuxiemeLot">Deuxieme Lot</label>
          <input
            type="text"
            class="form-control"
            name="deuxiemeLot"
            id="field_deuxiemeLot"
            data-cy="deuxiemeLot"
            formControlName="deuxiemeLot"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.troisiemeLot" for="field_troisiemeLot">Troisieme Lot</label>
          <input
            type="text"
            class="form-control"
            name="troisiemeLot"
            id="field_troisiemeLot"
            data-cy="troisiemeLot"
            formControlName="troisiemeLot"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.pic3" for="field_pic3">Pic 3</label>
          <input type="text" class="form-control" name="pic3" id="field_pic3" data-cy="pic3" formControlName="pic3" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.win4" for="field_win4">Win 4</label>
          <input type="text" class="form-control" name="win4" id="field_win4" data-cy="win4" formControlName="win4" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.dateTransaction" for="field_dateTransaction"
            >Date Transaction</label
          >
          <div class="d-flex">
            <input
              id="field_dateTransaction"
              data-cy="dateTransaction"
              type="datetime-local"
              class="form-control"
              name="dateTransaction"
              formControlName="dateTransaction"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lottoApiApp.dayTirage.state" for="field_state">State</label>
          <select
            class="form-control"
            id="field_state"
            data-cy="state"
            name="state"
            formControlName="state"
            [compareWith]="compareStateChad"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="stateOption" *ngFor="let stateOption of statesSharedCollection">{{ stateOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
